# Classification Exercise

We'll be working with some California Census Data, we'll be trying to use various features of an individual to predict what class of income they belobg in (>50k or <=50k). 

Here is some information about the data:

<table>
<thead>
<tr>
<th>Column Name</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>age</td>
<td>Continuous</td>
<td>The age of the individual</td>
</tr>
<tr>
<td>workclass</td>
<td>Categorical</td>
<td>The type of employer the  individual has (government,  military, private, etc.).</td>
</tr>
<tr>
<td>fnlwgt</td>
<td>Continuous</td>
<td>The number of people the census  takers believe that observation  represents (sample weight). This  variable will not be used.</td>
</tr>
<tr>
<td>education</td>
<td>Categorical</td>
<td>The highest level of education  achieved for that individual.</td>
</tr>
<tr>
<td>education_num</td>
<td>Continuous</td>
<td>The highest level of education in  numerical form.</td>
</tr>
<tr>
<td>marital_status</td>
<td>Categorical</td>
<td>Marital status of the individual.</td>
</tr>
<tr>
<td>occupation</td>
<td>Categorical</td>
<td>The occupation of the individual.</td>
</tr>
<tr>
<td>relationship</td>
<td>Categorical</td>
<td>Wife, Own-child, Husband,  Not-in-family, Other-relative,  Unmarried.</td>
</tr>
<tr>
<td>race</td>
<td>Categorical</td>
<td>White, Asian-Pac-Islander,  Amer-Indian-Eskimo, Other, Black.</td>
</tr>
<tr>
<td>gender</td>
<td>Categorical</td>
<td>Female, Male.</td>
</tr>
<tr>
<td>capital_gain</td>
<td>Continuous</td>
<td>Capital gains recorded.</td>
</tr>
<tr>
<td>capital_loss</td>
<td>Continuous</td>
<td>Capital Losses recorded.</td>
</tr>
<tr>
<td>hours_per_week</td>
<td>Continuous</td>
<td>Hours worked per week.</td>
</tr>
<tr>
<td>native_country</td>
<td>Categorical</td>
<td>Country of origin of the  individual.</td>
</tr>
<tr>
<td>income</td>
<td>Categorical</td>
<td>"&gt;50K" or "&lt;=50K", meaning  whether the person makes more  than \$50,000 annually.</td>
</tr>
</tbody>
</table>

## Follow the Directions in Bold. If you get stuck, check out the solutions lecture.

### THE DATA

** Read in the census_data.csv data with pandas**

In [24]:
import pandas as pd

In [25]:
census = pd.read_csv('census_data.csv')

In [26]:
census.head(10)

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

** TensorFlow won't be able to understand strings as labels, you'll need to use pandas .apply() method to apply a custom function that converts them to 0s and 1s. This might be hard if you aren't very familiar with pandas, so feel free to take a peek at the solutions for this part.**

** Convert the Label column to 0s and 1s instead of strings.**

In [27]:
def fix_label(label):
    if label == ' <=50K':
        return 0
    else:
        return 1

In [28]:
census['income_bracket'] = census['income_bracket'].apply(fix_label) #Applies function along input axis of DataFrame

In [29]:
census.head(10)

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0
5,37,Private,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,0
6,49,Private,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,0
7,52,Self-emp-not-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,1
8,31,Private,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,1
9,42,Private,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,1

In [47]:
census.tail()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
32556,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,0
32557,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,1
32558,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,0
32559,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,0
32560,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,1

### Perform a Train Test Split on the Data

In [30]:
from sklearn.model_selection import train_test_split

In [33]:
x_data = census.drop('income_bracket',axis=1)

In [34]:
y_data = census['income_bracket']

In [37]:
x_train, x_eval, y_train, y_eval = train_test_split(x_data,y_data,test_size=0.3,random_state=101)

### Create the Feature Columns for tf.esitmator

** Take note of categorical vs continuous values! **

age	Continuous
workclass	Categorical	
education	Categorical	
education_num	Continuous	
marital_status	Categorical	
occupation	Categorical	
relationship	Categorical	
race	Categorical
gender	Categorical
capital_gain	Continuous	
capital_loss	Continuous	
hours_per_week	Continuous	
native_country	Categorical	
income	Categorical

** Import Tensorflow **

In [14]:
import tensorflow as tf

** Create the tf.feature_columns for the categorical values. Use vocabulary lists or just use hash buckets. **

In [60]:
gender_fc = tf.feature_column.categorical_column_with_vocabulary_list('gender',['Female','Male'])
workclass_fc = tf.feature_column.categorical_column_with_hash_bucket('workclass',hash_bucket_size=1000)
education_fc = tf.feature_column.categorical_column_with_hash_bucket('education',hash_bucket_size=1000)
marital_status_fc = tf.feature_column.categorical_column_with_hash_bucket('marital_status',hash_bucket_size=1000)
occupation_fc = tf.feature_column.categorical_column_with_hash_bucket('occupation',hash_bucket_size=1000)
relationship_fc = tf.feature_column.categorical_column_with_hash_bucket('relationship',hash_bucket_size=1000)
race_fc = tf.feature_column.categorical_column_with_hash_bucket('race',hash_bucket_size=1000)
native_country_fc = tf.feature_column.categorical_column_with_hash_bucket('native_country',hash_bucket_size=1000)
#don't include income bracket since that is the y-value we're trying to predict

** Create the continuous feature_columns for the continuous values using numeric_column **

In [61]:
age_fc = tf.feature_column.numeric_column('age')
education_num_fc = tf.feature_column.numeric_column('education_num')
capital_gain_fc = tf.feature_column.numeric_column('capital_gain')
capital_loss_fc = tf.feature_column.numeric_column('capital_loss')
hours_per_week_fc = tf.feature_column.numeric_column('hours_per_week')

** Put all these variables into a single list with the variable name feat_cols **

In [62]:
feat_cols = [gender_fc,workclass_fc,education_fc,marital_status_fc,occupation_fc,relationship_fc,race_fc,native_country_fc,
             age_fc,education_num_fc,capital_gain_fc,capital_loss_fc,hours_per_week_fc]

### Create Input Function

** Batch_size is up to you. But do make sure to shuffle!**

In [63]:
my_input_function = tf.estimator.inputs.pandas_input_fn(x=x_train,y=y_train,batch_size=100,num_epochs=None,shuffle=True)

#### Create your model with tf.estimator

**Create a LinearClassifier.(If you want to use a DNNClassifier, keep in mind you'll need to create embedded columns out of the cateogrical feature that use strings, check out the previous lecture on this for more info.)**

In [64]:
model = tf.estimator.LinearClassifier(feature_columns=feat_cols) #don't need to specify n_classes for some reason...

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /var/folders/yh/ftwq6yz50j970hfx8k08g4880000gn/T/tmppcpp6x0p
INFO:tensorflow:Using config: {'_model_dir': '/var/folders/yh/ftwq6yz50j970hfx8k08g4880000gn/T/tmppcpp6x0p', '_tf_random_seed': 1, '_save_summary_steps': 100, '_save_checkpoints_secs': 600, '_save_checkpoints_steps': None, '_session_config': None, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100}

** Train your model on the data, for at least 5000 steps. **

In [65]:
model.train(input_fn=my_input_function,steps=5000)

INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Saving checkpoints for 1 into /var/folders/yh/ftwq6yz50j970hfx8k08g4880000gn/T/tmppcpp6x0p/model.ckpt.
INFO:tensorflow:loss = 69.3147, step = 1
INFO:tensorflow:global_step/sec: 125.523
INFO:tensorflow:loss = 227.763, step = 101 (0.798 sec)
INFO:tensorflow:global_step/sec: 135.664
INFO:tensorflow:loss = 210.924, step = 201 (0.737 sec)
INFO:tensorflow:global_step/sec: 136.944
INFO:tensorflow:loss = 50.2155, step = 301 (0.730 sec)
INFO:tensorflow:global_step/sec: 135.292
INFO:tensorflow:loss = 74.0912, step = 401 (0.739 sec)
INFO:tensorflow:global_step/sec: 135.65
INFO:tensorflow:loss = 139.253, step = 501 (0.737 sec)
INFO:tensorflow:global_step/sec: 133.79
INFO:tensorflow:loss = 163.862, step = 601 (0.747 sec)
INFO:tensorflow:global_step/sec: 130.214
INFO:tensorflow:loss = 33.5828, step = 701 (0.769 sec)
INFO:tensorflow:global_step/sec: 134.236
INFO:tensorflow:loss = 176.027, step = 801 (0.744 sec)
INFO:tensorflow:global_step/sec: 132.457
INFO:tensorflow:loss = 145.862, step = 901 (0.755 sec)
INFO:tensorflow:global_step/sec: 130.91
INFO:tensorflow:loss = 93.6455, step = 1001 (0.764 sec)
INFO:tensorflow:global_step/sec: 117.034
INFO:tensorflow:loss = 21.2936, step = 1101 (0.854 sec)
INFO:tensorflow:global_step/sec: 118.109
INFO:tensorflow:loss = 160.535, step = 1201 (0.849 sec)
INFO:tensorflow:global_step/sec: 129.833
INFO:tensorflow:loss = 36.1894, step = 1301 (0.767 sec)
INFO:tensorflow:global_step/sec: 132.159
INFO:tensorflow:loss = 43.3425, step = 1401 (0.757 sec)
INFO:tensorflow:global_step/sec: 135.076
INFO:tensorflow:loss = 39.4245, step = 1501 (0.740 sec)
INFO:tensorflow:global_step/sec: 135.36
INFO:tensorflow:loss = 53.6249, step = 1601 (0.739 sec)
INFO:tensorflow:global_step/sec: 134.662
INFO:tensorflow:loss = 77.3215, step = 1701 (0.742 sec)
INFO:tensorflow:global_step/sec: 132.886
INFO:tensorflow:loss = 39.3041, step = 1801 (0.753 sec)
INFO:tensorflow:global_step/sec: 129.639
INFO:tensorflow:loss = 42.9041, step = 1901 (0.771 sec)
INFO:tensorflow:global_step/sec: 139.906
INFO:tensorflow:loss = 35.9849, step = 2001 (0.715 sec)
INFO:tensorflow:global_step/sec: 134.292
INFO:tensorflow:loss = 76.8189, step = 2101 (0.744 sec)
INFO:tensorflow:global_step/sec: 122.836
INFO:tensorflow:loss = 69.1797, step = 2201 (0.814 sec)
INFO:tensorflow:global_step/sec: 126.729
INFO:tensorflow:loss = 43.6615, step = 2301 (0.789 sec)
INFO:tensorflow:global_step/sec: 130.989
INFO:tensorflow:loss = 61.6252, step = 2401 (0.764 sec)
INFO:tensorflow:global_step/sec: 132.591
INFO:tensorflow:loss = 995.61, step = 2501 (0.754 sec)
INFO:tensorflow:global_step/sec: 118.015
INFO:tensorflow:loss = 35.6165, step = 2601 (0.847 sec)
INFO:tensorflow:global_step/sec: 134.243
INFO:tensorflow:loss = 98.0497, step = 2701 (0.745 sec)
INFO:tensorflow:global_step/sec: 127.375
INFO:tensorflow:loss = 101.981, step = 2801 (0.786 sec)
INFO:tensorflow:global_step/sec: 130.761
INFO:tensorflow:loss = 142.18, step = 2901 (0.764 sec)
INFO:tensorflow:global_step/sec: 117.715
INFO:tensorflow:loss = 40.9079, step = 3001 (0.850 sec)
INFO:tensorflow:global_step/sec: 125.667
INFO:tensorflow:loss = 76.8836, step = 3101 (0.796 sec)
INFO:tensorflow:global_step/sec: 131.387
INFO:tensorflow:loss = 51.4389, step = 3201 (0.762 sec)
INFO:tensorflow:global_step/sec: 131.363
INFO:tensorflow:loss = 37.5083, step = 3301 (0.761 sec)
INFO:tensorflow:global_step/sec: 139.382
INFO:tensorflow:loss = 34.5616, step = 3401 (0.717 sec)
INFO:tensorflow:global_step/sec: 145.231
INFO:tensorflow:loss = 94.8469, step = 3501 (0.689 sec)
INFO:tensorflow:global_step/sec: 132.643
INFO:tensorflow:loss = 257.277, step = 3601 (0.754 sec)
INFO:tensorflow:global_step/sec: 133.27
INFO:tensorflow:loss = 43.6766, step = 3701 (0.750 sec)
INFO:tensorflow:global_step/sec: 114.784
INFO:tensorflow:loss = 240.444, step = 3801 (0.871 sec)
INFO:tensorflow:global_step/sec: 128.455
INFO:tensorflow:loss = 51.8501, step = 3901 (0.779 sec)
INFO:tensorflow:global_step/sec: 133.274
INFO:tensorflow:loss = 47.628, step = 4001 (0.750 sec)
INFO:tensorflow:global_step/sec: 134.936
INFO:tensorflow:loss = 58.1696, step = 4101 (0.742 sec)
INFO:tensorflow:global_step/sec: 110.141
INFO:tensorflow:loss = 96.5359, step = 4201 (0.907 sec)
INFO:tensorflow:global_step/sec: 135.504
INFO:tensorflow:loss = 51.2303, step = 4301 (0.738 sec)
INFO:tensorflow:global_step/sec: 136.22
INFO:tensorflow:loss = 43.3643, step = 4401 (0.734 sec)
INFO:tensorflow:global_step/sec: 134.341
INFO:tensorflow:loss = 58.5401, step = 4501 (0.744 sec)
INFO:tensorflow:global_step/sec: 134.069
INFO:tensorflow:loss = 40.9472, step = 4601 (0.746 sec)
INFO:tensorflow:global_step/sec: 138.421
INFO:tensorflow:loss = 50.1941, step = 4701 (0.722 sec)
INFO:tensorflow:global_step/sec: 133.3
INFO:tensorflow:loss = 40.6376, step = 4801 (0.750 sec)
INFO:tensorflow:global_step/sec: 113.079
INFO:tensorflow:loss = 51.7366, step = 4901 (0.886 sec)
INFO:tensorflow:Saving checkpoints for 5000 into /var/folders/yh/ftwq6yz50j970hfx8k08g4880000gn/T/tmppcpp6x0p/model.ckpt.
INFO:tensorflow:Loss for final step: 41.4798.

### Evaluation

** Create a prediction input function. Remember to only support X_test data and keep shuffle=False. **

In [71]:
prediction_input_func = tf.estimator.inputs.pandas_input_fn(x=x_eval,batch_size=len(x_eval),shuffle=False)

** Use model.predict() and pass in your input function. This will produce a generator of predictions, which you can then transform into a list, with list() **

In [77]:
predictions = list(model.predict(prediction_input_func))

INFO:tensorflow:Restoring parameters from /var/folders/yh/ftwq6yz50j970hfx8k08g4880000gn/T/tmppcpp6x0p/model.ckpt-5000

** Each item in your list will look like this: **

In [78]:
predictions[0]

{'class_ids': array([0]),
 'classes': array([b'0'], dtype=object),
 'logistic': array([ 0.25773069], dtype=float32),
 'logits': array([-1.05779696], dtype=float32),
 'probabilities': array([ 0.74226928,  0.25773066], dtype=float32)}

** Create a list of only the class_ids key values from the prediction list of dictionaries, these are the predictions you will use to compare against the real y_test values. **

In [80]:
final_predictions = []

In [81]:
for pred in predictions:
    final_predictions.append(pred['class_ids'][0])

In [84]:
final_predictions[0:20]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0]

** Import classification_report from sklearn.metrics and then see if you can figure out how to use it to easily get a full report of your model's performance on the test data. **

In [85]:
from sklearn.metrics import classification_report

In [88]:
print(classification_report(y_true=y_eval,y_pred=final_predictions)) #prediction accuracy of ~80% is good

             precision    recall  f1-score   support

          0       0.83      0.94      0.88      7436
          1       0.67      0.40      0.50      2333

avg / total       0.79      0.81      0.79      9769

# Great Job!